.column {
  float: left;
  width: 25%;
  background-color: aliceblue;
  color: blue;
  height: 400px;
  box-sizing: border-box;
  margin: 20px;
}

.column h3 {
  text-align: center;
}
.intro {
  text-align: center;
}
p.softness {
  color: palevioletred;
}

.column p {
  text-align: center;
  font-family: cursive;
}

.intro {
  margin: auto;
  width: 45%;
}

.intro p {
  color: crimson;
}

.box1 {
  width: 45%;
  border: goldenrod;
  background-color: hotpink;
  box-shadow: lawngreen;
  box-sizing: border-box;
  margin-top: 500px;
}

.blue-background {
  background-color: blue;
}

.pink-text{
  color: pink;
}

@media screen and (min-width: 760px) {
  .column {
    width: 300px;
    float: right;
    padding: 20px;
  }
}

@media screen and (max-width: 760px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 580px) {
  body {
    background-color: teal;
  }
}